bop_science_regions
dres_science_regions
duna_science_regions
eeloo_science_regions
eve_science_regions
gilly_science_regions
ike_science_regions
jool_science_regions
kerbin_science_regions
kerbol_science_regions
laythe_science_regions
minmus_science_regions
moho_science_regions
mun_science_regions
pol_science_regions
tylo_science_regions
vall_science_regions
!.gitignore